<div class="product-layout col-sm-3">
  <div class="product-thumb">
    <div class="image">
      <a href="/index.js?r=product/product&product_id={{_id}}">
        <img src="{{image}}" class="image_product" width="228px" height="228px;">
      </a>
    </div>
    <div class="caption">
      <h4><a href="/index.js?r=product/product&product_id={{_id}}">{{{name}}}</a></h4>
      <span class="price">${{price}}</span>
      <p>{{{description}}}</p>
    </div>
    <div class="button-group">
      <button type="button" class="button-cart" onclick="cart.add('{{_id}}');"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</button>
    </div>

  </div>
</div>
